@use '../styles/vars.scss';
@use '../styles/reset.scss' as *;

.icon {
    cursor: pointer;
}

.icon-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}