@use '../styles/vars.scss';
@use '../styles/reset.scss';

.main-container {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
}

.icon {
    cursor: pointer;
}

.icon-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}

.btn-clear {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}