.header {
    position: relative;
    height: 46px;
    display: flex;
    align-items: center;
    padding-inline: var(--section-padding-inline);
    border-bottom: 1px solid #AFAFAF40;
}

@media (min-width: 768px) {
    .header {
        height: 64px;
    }
}