.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    svg {
        cursor: pointer;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
    }

    .menuButton {
        order: 0;

        .menuIcon {
            width: 24px;
            height: 24px;
            margin-right: 80px;
        }
    }

    .logoGroup {
        display: flex;
        align-items: center;
        gap: 32px;

        .logoButton {
            order: 0;

            .logoIcon {
                width: 32px;
                height: 32px;
            }

            span {
                display: none;
            }
        }

        a {
            display: none;
            font-size: 18px;
            font-weight: 200;
        }
    }

    .iconGroup {
        display: flex;
        flex-direction: row;
        gap: 20px;

        svg {
            width: 20px;
            height: 20px;
        }
    }

}

.active {
    box-shadow: inset 0 -2px 0 var(--clr-secondary-dark);
    padding-block: 8px;
}

@media (min-width: 768px) {
    .navbar {

        .menuButton {
            display: none;
        }

        .logoGroup {
            .logoButton {
                order: 0;

                .logoIcon {
                    width: 32px;
                    height: 32px;
                }

                span {
                    display: inline-block;
                }
            }

            a {
                display: inline-block;
            }
        }

        .logoButton {
            display: flex;
            gap: 15px;
            font-size: 27px;
            font-weight: 200;

            .logoIcon {}

            span {
                color: black;
                display: none;
                display: inline-block;
            }
        }
    }
}