.section {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-inline: var(--section-padding-inline) 0;
    margin-block: var(--section-margin-block);

    .title {
        text-transform: uppercase;
        text-align: left;
        font-weight: 200;
        font-size: 18px;
    }

    .link {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        font-size: 16px;

        &:hover {
            color: var(--clr-primary-light);
        }

        .arrowIcon {
            width: 24px;
            height: 18px;
        }
    }
}

@media (min-width: 768px) {
    .section {
        gap: 40px;

        .title {
            font-size: 30px;
            text-align: center;
        }

        .link {
            justify-content: flex-end;
            font-size: 24px;
            padding-right: 20px;
        }
    }

}

@media (min-width: 1440px) {
    .section {
        padding-inline: var(--section-padding-inline);

        .link {
            padding-right: 0;
        }
    }


}