.footer {
    display: flex;
    height: 200px;
    padding-block: 32px 20px;
    padding-inline: 20px;

    .nav {}

    .navLinks {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .navItem {
        font-size: 18px;
        font-weight: 200;
        cursor: pointer;
    }
}