.footer {
    display: flex;
    height: 200px;
    padding-block: 32px 20px;
    padding-inline: 20px;


    .navLinks {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .navItem {
        font-size: 18px;
        font-weight: 200;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .footer {
        justify-content: center;
        align-items: center;
        height: 85px;
        padding: 0;

        .navLinks {
            flex-direction: row;
        }
    }


}