.list {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

@media (min-width: 768px) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
}